workflows-backup/video-motivational-shorts-part1-image-generation.json
{
  "name": "Video Motivational Shorts - Part 1: Image Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-images",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-setup",
              "name": "batch_size",
              "value": "={{ Math.min(5, $json.stories?.length || 1) }}",
              "type": "number"
            },
            {
              "id": "timeout-config",
              "name": "request_timeout",
              "value": 30000,
              "type": "number"
            },
            {
              "id": "retry-config",
              "name": "max_retries",
              "value": 2,
              "type": "number"
            }
          ]
        }
      },
      "id": "config-node",
      "name": "Config for Free Tier",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config for Free Tier').item.json.batch_size }}",
        "options": {}
      },
      "id": "batch-processor",
      "name": "Batch Processor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/FLUX.1-schnell-Free"
            },
            {
              "name": "prompt",
              "value": "={{ $json.image_prompt || 'A beautiful landscape' }}"
            },
            {
              "name": "width",
              "value": 720
            },
            {
              "name": "height",
              "value": 1280
            },
            {
              "name": "steps",
              "value": 1
            }
          ]
        },
        "options": {
          "timeout": "={{ $('Config for Free Tier').first().json.request_timeout }}",
          "retry": {
            "enabled": true,
            "maxTries": "={{ $('Config for Free Tier').first().json.max_retries }}"
          }
        }
      },
      "id": "image-generator",
      "name": "Generate AI Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "credentials": {
        "httpBearerAuth": {
          "id": "togetherai-cred",
          "name": "TogetherAI API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.data?.[0]?.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "success-filter",
      "name": "Filter Successful Images",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-mapping",
              "name": "image_url",
              "value": "={{ $json.data[0].url }}",
              "type": "string"
            },
            {
              "id": "original-data",
              "name": "original_story",
              "value": "={{ $json.image_prompt }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "generated_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        }
      },
      "id": "success-mapper",
      "name": "Map Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-mapping",
              "name": "error_message",
              "value": "={{ $json.error?.message || 'Image generation failed' }}",
              "type": "string"
            },
            {
              "id": "original-prompt",
              "name": "original_story",
              "value": "={{ $('Batch Processor').item.json.image_prompt }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "generated_at",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-mapper",
      "name": "Map Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url || 'http://localhost:5678/webhook/next-step' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "results",
              "value": "={{ $json }}"
            },
            {
              "name": "step",
              "value": "image_generation_complete"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "next-workflow-trigger",
      "name": "Trigger Next Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { 'status': 'completed', 'processed': $json.length, 'next_step': 'tts_generation' } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2100, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config for Free Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config for Free Tier": {
      "main": [
        [
          {
            "node": "Batch Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Processor": {
      "main": [
        [
          {
            "node": "Generate AI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Image": {
      "main": [
        [
          {
            "node": "Filter Successful Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Successful Images": {
      "main": [
        [
          {
            "node": "Map Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Success Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Error Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Trigger Next Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Next Workflow": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "render-free-tier-optimized"
  },
  "id": "video-motivational-shorts-part1",
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "free-tier-optimized",
      "name": "Free Tier Optimized"
    }
  ]
}