workflows/video-motivational-shorts-part2-tts-generation.json
{
  "name": "Video Motivational Shorts - Part 2: TTS Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-tts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "tts-webhook-trigger",
      "name": "TTS Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tts-config",
              "name": "max_concurrent_requests",
              "value": 3,
              "type": "number"
            },
            {
              "id": "timeout-config",
              "name": "tts_timeout",
              "value": 30000,
              "type": "number"
            },
            {
              "id": "retry-attempts",
              "name": "max_retries",
              "value": 2,
              "type": "number"
            },
            {
              "id": "voice-model",
              "name": "voice_model",
              "value": "tts-1",
              "type": "string"
            },
            {
              "id": "voice-name",
              "name": "voice_name",
              "value": "alloy",
              "type": "string"
            }
          ]
        }
      },
      "id": "tts-config",
      "name": "TTS Config for Free Tier",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "batchSize": "={{ $('TTS Config for Free Tier').item.json.max_concurrent_requests }}",
        "options": {}
      },
      "id": "tts-batch",
      "name": "TTS Batch Processor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('TTS Config for Free Tier').first().json.voice_model }}"
            },
            {
              "name": "voice",
              "value": "={{ $('TTS Config for Free Tier').first().json.voice_name }}"
            },
            {
              "name": "input",
              "value": "={{ $json.story_text || $json.text || 'Default text for speech generation' }}"
            },
            {
              "name": "response_format",
              "value": "mp3"
            },
            {
              "name": "speed",
              "value": 1.0
            }
          ]
        },
        "options": {
          "timeout": "={{ $('TTS Config for Free Tier').first().json.tts_timeout }}",
          "retry": {
            "enabled": true,
            "maxTries": "={{ $('TTS Config for Free Tier').first().json.max_retries }}"
          }
        }
      },
      "id": "openai-tts",
      "name": "OpenAI TTS Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-cred",
          "name": "OpenAI API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tts-success-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ]
        }
      },
      "id": "tts-success-filter",
      "name": "Filter Successful TTS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "audio-data",
              "name": "audio_data",
              "value": "={{ $binary.data }}",
              "type": "string"
            },
            {
              "id": "original-text",
              "name": "original_text",
              "value": "={{ $('TTS Batch Processor').item.json.story_text }}",
              "type": "string"
            },
            {
              "id": "audio-format",
              "name": "audio_format",
              "value": "mp3",
              "type": "string"
            },
            {
              "id": "duration-estimate",
              "name": "estimated_duration",
              "value": "={{ Math.ceil(($('TTS Batch Processor').item.json.story_text || '').length / 12) }}",
              "type": "number"
            },
            {
              "id": "tts-status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        }
      },
      "id": "tts-success-map",
      "name": "Map TTS Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tts-error",
              "name": "error_message",
              "value": "={{ $json.error?.message || 'TTS generation failed' }}",
              "type": "string"
            },
            {
              "id": "original-text-error",
              "name": "original_text",
              "value": "={{ $('TTS Batch Processor').item.json.story_text }}",
              "type": "string"
            },
            {
              "id": "tts-error-status",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "retry-count",
              "name": "retry_count",
              "value": "={{ $runIndex }}",
              "type": "number"
            }
          ]
        }
      },
      "id": "tts-error-map",
      "name": "Map TTS Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "tts-merge-results",
      "name": "Merge TTS Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url || 'http://localhost:5678/webhook/video-assembly' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tts_results",
              "value": "={{ $json }}"
            },
            {
              "name": "step",
              "value": "tts_generation_complete"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "trigger-video-assembly",
      "name": "Trigger Video Assembly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { 'status': 'tts_completed', 'processed_items': $json.length, 'successful': $json.filter(item => item.status === 'success').length, 'failed': $json.filter(item => item.status === 'failed').length } }}"
      },
      "id": "tts-response",
      "name": "TTS Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2100, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "TTS Webhook Trigger": {
      "main": [
        [
          {
            "node": "TTS Config for Free Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Config for Free Tier": {
      "main": [
        [
          {
            "node": "TTS Batch Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Batch Processor": {
      "main": [
        [
          {
            "node": "OpenAI TTS Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI TTS Generation": {
      "main": [
        [
          {
            "node": "Filter Successful TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Successful TTS": {
      "main": [
        [
          {
            "node": "Map TTS Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map TTS Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map TTS Success": {
      "main": [
        [
          {
            "node": "Merge TTS Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map TTS Error": {
      "main": [
        [
          {
            "node": "Merge TTS Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge TTS Results": {
      "main": [
        [
          {
            "node": "Trigger Video Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Video Assembly": {
      "main": [
        [
          {
            "node": "TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "render-free-tier-optimized"
  },
  "id": "video-motivational-shorts-part2",
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "free-tier-optimized",
      "name": "Free Tier Optimized"
    }
  ]
}